<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 使用更详细的日志格式来显示键值对 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置为 DEBUG 级别以显示更多日志 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration> 